@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0d100f;
    --foreground: #fefefe;
    --primary: #db2500;
  }

  body {
    @apply bg-background text-foreground min-h-screen overflow-x-clip;
  }

  picture {
    @apply block relative;
  }

  img {
    @apply object-cover size-full;
  }

  /* Global styles for the project */
  html {
    scrollbar-width: none;
  }

  h1 {
    @apply uppercase text-[20vw] sm:text-[8vw] font-semibold tracking-[2px] leading-[90%];
  }

  p {
    @apply uppercase sm:text-lg text-sm;
  }

  section {
    @apply w-screen h-screen;
  }
}
